@tailwind base;
@enable-css-reset: false;

.dark {
  color-scheme: dark;
}

html {
  height: 100%;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  min-height: 100%;
  background: #F8F9FD !important;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

abbr[title] {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none !important;
  color: inherit !important;
}
