.nft-container {
  .nft-title {

  }

  .nft-list {
    display: flex;
    flex-wrap: wrap;
  }

  .nft-wrap {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  .nft-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #fff;
  }

  .nft-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
