.color-text {
  color: #2CCDBC;
}

.app-header {
  // position: sticky;
  // top: 0;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #F1F2F3;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  .header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo {
      display: block;
      position: relative;
      padding-right: 37px;
      height: 40px;
      width: 168px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        height: 17px;
        top: 50%;
        width: 1px;
        transform: translateY(-50%);
        background-color: #C9CCD0;
      }
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .links {
      a {
        font-weight: 600;
        font-size: 17px;
        line-height: 27px;
        color: #000000;
        display: block;
        padding: 0 37px;
      }
    }
  }

  .header-right {
    .connect-btn {
      width: 205px;
      height: 51px;
      border-radius: 12px;
      background: linear-gradient(to right, #08BBE4, #54E08C);
      padding: 2px;
  
      div {
        background-color: #fff;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
  
      span {
        background: -webkit-linear-gradient(45deg, #08BBE4, #54E08C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        font-size: 17px;
        line-height: 27px;
        margin-left: 5px;
      }

      .avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}

.app-footer {
  width: 100%;
  height: 217px;
  background-color: #fff;

  &-wrap {
    width: 1240px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    >div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .social {
      a {
        margin-left: 30px;
      }
    }
  }
}

.nft-container {
  .nft-title {

  }

  .nft-list {
    display: flex;
    flex-wrap: wrap;
  }

  .nft-wrap {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  .nft-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #fff;
  }

  .nft-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.game-container {
  display: flex;
  width: 1220px;
  max-width: 100%;
  margin: 57px auto 0;

  .game-left {
    width: 400px;
    margin-right: 20px;
    flex-shrink: 0;

    .nft-box {
      margin-bottom: 20px;
    }
  }

  .game-right {
    flex: 1;

    .game-label {
      padding: 24px 30px;
      background: #FFFFFF;
      border-radius: 12px;
      margin-bottom: 20px;

      &-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 44px;
        margin-bottom: 8px;
      
        &-left {
          font-weight: 600;
          font-size: 28px;
          line-height: 44px;
          color: #18191C;
        }

        &-right {
          &.Finshed,
          &.ended {
            padding: 2px 10px;
            background: #F1F2F3;
            border-radius: 8px;
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
            color: #9499A0;
          }

          &.open,
          &.openning,
          &.waiting {
            background: linear-gradient(274.01deg, rgba(8, 187, 228, 0.2) 1.58%, rgba(84, 224, 140, 0.2) 96.99%);
            border-radius: 8px;
            padding: 2px 10px;
            color: #18191C;
            font-weight: 500;
          }
        }
      }

      &-progress {
        padding-bottom: 16px;
      }

      &-meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        width: 75%;

        &-item {
          display: flex;
          flex-direction: column;

          &-key {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #9499A0;
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          &-val {
            font-weight: 600;
            font-size: 20px;
            line-height: 31px;
            color: #18191C;
          }
        }
      }

      &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        &-creator {
          display: flex;
          flex-direction: row;
          align-items: center;
          
          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            color: #9499A0;
          }
        }

        &-submit {
          .main-btn {
            border-radius: 12px;
            font-weight: 600;
            font-size: 17px;
            line-height: 27px;
            height: 51px;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }

          .linear-btn {
            background: linear-gradient(274.01deg, #08BBE4 1.58%, #54E08C 96.99%);
            color: #18191C;
          }

          .gray-btn {
            background: #F1F2F3;
            color: #9499A0;
          }
        }
      }
    }

    .game-user {
      &-list {
        .user-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .left {
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            color: #18191C;
            display: flex;
            flex-direction: row;
            align-items: center;

            .avatar {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: #F1F2F3;
              margin-right: 8px;
            }
          }

          .right {
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            color: #18191C;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}

.create-container {
  width: 800px;
  margin: 0 auto;

  .banner {
    margin-top: 40px;
  }

  .form-item {
    margin-bottom: 50px;

    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
      color: #18191C;
    }

    .desc {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #9499A0;
      margin-bottom: 16px;
    }
  }

  .double-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;

    .form-item {
      flex: 1;
      margin: 10px;
    }
  }
}

.panel {
  &-wrap {
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
  }

  &-name {
    padding: 14px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0;
    border-bottom: 1px solid #F1F2F3;

    &-left,
    &-right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-left {
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      color: #18191C;
    }

    &-right {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #9499A0;
    }
  }

  &-body {
    padding: 14px 30px;
  }

  &-form {
    >div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
  }

  &-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }

  &-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #18191C;
  }
}

.nft-box {
  display: flex;
  border-radius: 12px;
  overflow: hidden;

  .nft-img {
    width: 100%;
    height: 100%;
  }
}

.spaces-container {
  .list-view {
    display: flex;
    width: 1220px;
    margin: 0 auto;
  }

  .game-flow-item {
    width: 285px;
    height: 400px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #E3E5E7;
    border-radius: 16px;
    margin: 10px;

    .name-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 6.5px;
      margin-bottom: 11.5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      color: #18191C;

      >div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 28px;
      }
    }

    .foot-line {
      margin-top: 28px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #9499A0;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;

      >div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.rs-progress {
  padding: 0 !important;

  &-line-outer {
    border-radius: 10px !important;
  }

  &-line-bg {
    border-radius: 10px !important;
    background: linear-gradient(274.01deg, #08BBE4 1.58%, #54E08C 96.99%);
  }

  &-line-inner {
    background: #F1F2F3 !important;
  }
}
