.color-text {
  color: #2CCDBC;
}

.linear-btn {
  background: linear-gradient(274.01deg, #08BBE4 1.58%, #54E08C 96.99%);
  color: #18191C;
}

.app-header {
  // position: sticky;
  // top: 0;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #F1F2F3;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999;

  .header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo {
      display: block;
      position: relative;
      padding-right: 37px;
      height: 40px;
      width: 168px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        height: 17px;
        top: 50%;
        width: 1px;
        transform: translateY(-50%);
        background-color: #C9CCD0;
      }
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .links {
      a {
        font-weight: 600;
        font-size: 17px;
        line-height: 27px;
        color: #000000;
        display: block;
        padding: 0 37px;
      }
    }
  }

  .header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .connect-btn {
      width: 205px;
      height: 51px;
      border-radius: 12px;
      background: linear-gradient(to right, #08BBE4, #54E08C);
      padding: 2px;
  
      div {
        background-color: #fff;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
  
      span {
        background: -webkit-linear-gradient(45deg, #08BBE4, #54E08C);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        font-size: 17px;
        line-height: 27px;
        margin-left: 5px;
      }

      .avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
  }
}

.share-to-earn {
  cursor: pointer;
}

.app-footer {
  width: 100%;
  height: 217px;
  background-color: #fff;

  &-wrap {
    width: 1240px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    >div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .social {
      a {
        margin-left: 30px;
      }
    }
  }
}

.choose-container {
  .nft-title {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
    background: #fff;
    padding-left: 10px;
    margin-bottom: 5px;

    &:hover {
      background: #F1F2F3;
    }
  }

  .nft-name {
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .nochoose-nft {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F2F3;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    border-radius: 5px;
  }
}

.nft-container {
  .nft-list {
    display: flex;
    flex-wrap: wrap;
  }

  .nft-wrap {
    position: relative;
    width: 150px;
    min-height: 170px;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      background-color: #f1f2f3;
    }
  }

  .nft-img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
  }

  .nft-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.game-container {
  display: flex;
  width: 1220px;
  max-width: 100%;
  margin: 57px auto 0;

  &-loading {
    width: 100%;
    height: 500px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game-left {
    width: 400px;
    margin-right: 20px;
    flex-shrink: 0;

    .nft-box {
      margin-bottom: 20px;
    }

    .empty-nft {
      width: 400px;
      height: 400px;
      background-color: #fff;
      border-radius: 12px;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .game-right {
    flex: 1;

    .game-label {
      padding: 24px 30px;
      background: #FFFFFF;
      border-radius: 12px;
      margin-bottom: 20px;

      &-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 44px;
        margin-bottom: 8px;
      
        &-left {
          font-weight: 600;
          font-size: 28px;
          line-height: 44px;
          color: #18191C;
        }

        &-right {
          &.Finshed,
          &.ended {
            padding: 2px 10px;
            background: #F1F2F3;
            border-radius: 8px;
            font-weight: 600;
            font-size: 12px;
            line-height: 19px;
            color: #9499A0;
          }

          &.open,
          &.openning,
          &.waiting {
            background: linear-gradient(274.01deg, rgba(8, 187, 228, 0.2) 1.58%, rgba(84, 224, 140, 0.2) 96.99%);
            border-radius: 8px;
            padding: 2px 10px;
            color: #18191C;
            font-weight: 500;
          }
        }
      }

      &-progress {
        padding-bottom: 16px;
      }

      &-meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        // width: 75%;

        &-item {
          display: flex;
          flex-direction: column;

          &-key {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #9499A0;
            display: flex;
            flex-direction: row;
            align-items: center;
          }

          &-val {
            font-weight: 600;
            font-size: 20px;
            line-height: 31px;
            color: #18191C;
          }
        }
      }

      &-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        &-creator {
          display: flex;
          flex-direction: row;
          align-items: center;
          
          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            color: #9499A0;
          }
        }

        &-submit {
          .footer-control {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }

          .linear-btn,
          .gray-btn {
            border-radius: 12px;
            padding: 12px 30px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            font-weight: 600;
            font-size: 17px;
            line-height: 27px;
            color: #18191C;
            flex-shrink: 0;
            margin-left: 20px;
          }
  
          .gray-btn {
            background: #F1F2F3;
            color: #9499A0;
            flex-shrink: 0;
          }
        }
      }
    }

    .game-user {
      &-list {
        .user-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          
          &:not(:first-child) {
            margin-top: 20px;
          }

          .left {
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            color: #18191C;
            display: flex;
            flex-direction: row;
            align-items: center;

            .avatar {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background: #F1F2F3;
              margin-right: 8px;
            }
          }

          .right {
            font-weight: 600;
            font-size: 16px;
            line-height: 25px;
            color: #18191C;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }
  }
}

.create-container {
  width: 800px;
  margin: 0 auto 60px;

  .banner {
    margin-top: 40px;
  }

  .form-item {
    margin-bottom: 50px;

    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 38px;
      color: #18191C;
    }

    .desc {
      font-weight: 400;
      font-size: 12px;
      line-height: 22px;
      color: #9499A0;
      margin-bottom: 16px;
    }
  }

  .double-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px 50px;

    .form-item {
      flex: 1;
      margin: 0 10px;
    }
  }

  .linear-btn {
    padding: 15px 70px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    color: #18191C;
  }
}

.panel {
  &-wrap {
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 20px;
  }

  &-name {
    padding: 14px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0;
    border-bottom: 1px solid #F1F2F3;

    &-left,
    &-right {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &-left {
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      color: #18191C;
    }

    &-right {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #9499A0;
    }
  }

  &-body {
    padding: 14px 30px;
  }

  &-form {
    >div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }
  }

  &-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
  }

  &-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #18191C;
  }
}

.nft-box {
  display: grid;
  border-radius: 12px;
  overflow: hidden;
  grid-gap: 5px;
  background-color: #fff;
  padding: 10px;

  .nft-box-shim {
    width: 100%;
    aspect-ratio: 1;
    background-color: rgb(241, 242, 243);
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-c1 {
    grid-template-columns: repeat(1, 1fr);
  }

  &-c2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &-c3 {
    grid-template-columns: repeat(3, 1fr);
  }

  &-c4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .nft-wrap {
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background: #f1f2f3;

    &.bordered {
      padding: 3px;
    }

    &.selected {
      background: linear-gradient(274.01deg, #08BBE4 1.58%, #54E08C 96.99%);
    }

    .nft-img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}

.homepage-container {
  position: relative;

  img {
    display: block;
  }

  .bg {
    width: 100%;
    height: auto;
    aspect-ratio: 1919 / 1080;
  }

  .title {
    position: absolute;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
  }

  .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #61666D;
    width: 750px;
    position: absolute;
    left: 50%;
    top: 210px;
    transform: translateX(-50%);
  }

  .btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
    width: 100%;

    .linear-btn {
      padding: 12px 30px;
      border-radius: 12px;
      margin: 0 8px;
      font-weight: 600;
      font-size: 17px;
      line-height: 27px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .how-work {
    position: absolute;
    left: 50%;
    top: 700px;
    transform: translateX(-50%);
  }

  .faq-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;

    .faq-box {
      position: relative;
      background: #FFFFFF;
      width: 358px;
      height: 483px;
      border-radius: 16px;
      margin: 0 20px;
      padding: 20px 20px 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .faq-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 90px;
        text-align: center;
        color: #000000;
      }

      .linear-btn {
        padding: 12px 30px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 17px;
        line-height: 27px;
        color: #18191C;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.spaces-container {
  padding-bottom: 150px;
  min-height: 100vh;

  .error-tips {
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    text-align: center;
    margin: 50px auto;
  }

  .list-view {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .game-item-loader {
    width: 285px;
    height: 400px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #E3E5E7;
    border-radius: 16px;
    margin: 10px;

    div {
      background: #F1F2F3;
    }

    .game-image {
      width: 100%;
      aspect-ratio: 1;
      margin-bottom: 10px;
      border-radius: 12px;
    }

    .game-name {
      height: 23px;
      border-radius: 6px;
      margin-bottom: 10px;
    }

    .game-desc {
      height: 17px;
      border-radius: 10px;
      margin-bottom: 28px;
    }

    .game-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background: #fff;

      .game-avatar {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin-right: 8px;
      }

      .game-address {
        width: 80px;
        height: 22px;
        border-radius: 6px;
      }
    }
  }

  .game-flow-item {
    width: 285px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #E3E5E7;
    border-radius: 16px;
    margin: 10px;
    overflow: hidden;

    .game-status {
      .close,
      .join {
        padding: 2px 10px;
        border-radius: 8px;
      }

      .close {
        background: #F1F2F3;
        color: #9499A0;
      }

      .join {
        background: linear-gradient(274.01deg, rgba(8, 187, 228, 0.2) 1.58%, rgba(84, 224, 140, 0.2) 96.99%);
        color: #18191C;
      }
    }

    .name-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 6.5px;
      margin-bottom: 11.5px;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      color: #18191C;

      >div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        line-height: 28px;
      }
    }

    .foot-line {
      margin-top: 28px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #9499A0;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;

      >div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    .nft-flow-bottom {
      display: block;
      padding: 0 10px 10px;
      margin-top: -10px;
    }
  }
}

.rs-progress {
  padding: 0 !important;

  &-line-outer {
    border-radius: 10px !important;
  }

  &-line-bg {
    border-radius: 10px !important;
    background: linear-gradient(274.01deg, #08BBE4 1.58%, #54E08C 96.99%);
  }

  &-line-inner {
    background: #F1F2F3 !important;
  }
}

.rs-slider-progress-bar {
  background: linear-gradient(274.01deg, #08BBE4 1.58%, #54E08C 96.99%);
}

.custom-slider {
  margin-top: 35px;

  .rs-slider-handle {
    background: linear-gradient(274.01deg, #08BBE4 1.58%, #54E08C 96.99%);
    text-align: center;
    margin-left: -25px;
    top: -25px;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      display: none;
    }

    input {
      display: block;
      background-color: #fff;
    }

    &:hover {
      box-shadow: 0 0 0 8px rgb(52 152 255 / 25%);
    }
  }

  &.rs-slider-dragging .rs-slider-handle,
  &.rs-slider-dragging .rs-slider-handle:hover {
    box-shadow: none;
    transform: scale(1.2);
  }
}

.price-form {
.rs-input-number-btn-group-vertical {
    display: none !important;
  }
}

.rs-input-group-addon {
  background-color: #fff !important;
  font-size: 12px !important;
  line-height: 12px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.radio-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 -10px;

  .rs-radio {
    position: relative;
    border-radius: 6px;
    height: 78px;
    flex: 1;
    margin: 0 10px;
    background: #fff;
    padding: 12px 30px;
    border: 1px solid #E3E5E7;

    .radio-title {
      font-weight: 600;
      font-size: 17px;
      line-height: 27px;
      color: #61666D;
    }

    .radio-desc {
      font-weight: 600;
      font-size: 12px;
      line-height: 27px;
      color: #9499A0;
    }

    &-checked {
      background: linear-gradient(274.01deg, rgba(8, 187, 228, 0.1) 1.58%, rgba(84, 224, 140, 0.1) 96.99%);
      border-color: #2CCDBC;
    }

    &-checker {
      padding-top: 0;
    }
  }
}
